## dataproducts
datasets_*/

## virtual environment directory
venv/

## build artifacts and metadata
dist/
**.egg-info/

## extraneous MacOS files
.DS_Store
__pycache__/

## typical plot outputs
**.png
**.pdf
**.mp4
**.gif

## figures (tracked)
!figures/*.pdf

## typical data products
**.csv
**.dat
**.json
**.npy
**.h5

## dataset summaries (tracked)
!datasets/summary.json
!datasets/summary_stats.json

## jupyter notebook (+ LSP) files
.ipynb_checkpoints/
.virtual_documents/

## .